version: '3'

services:
  fuseki:
    build: ./fuseki
    container_name: hascoapi_fuseki
    ports:
      - "3030:3030"
    volumes:
      - hascoapi-fuseki-data:/fuseki/databases
    networks:
      hascorepo:
        aliases:
          - fuseki
    restart: always

  fuseki-yasgui:
    build: ./fuseki-yasgui
    container_name: hascoapi_fuseki_yasgui
    ports:
      - "8888:8888"
    environment:
      DEFAULT_SPARQL_ENDPOINT: "http://fuseki:3030/dataset/sparql"
    depends_on:
      - fuseki
    networks:
      hascorepo:
        aliases:
          - fuseki-yasgui

  hascoapi:
    build:
      context: ./hascoapi
      dockerfile: Dockerfile-hascoapi-development
      args:
          BRANCH: ${BRANCH}
    container_name: hascoapi
    tty: true
    ports:
      - "9000:9000"
    environment:
      JAVA_OPTS: "-Xms128m -Xmx12g"
    volumes:
      - /var/data/docker/logs/hascoapi:/hascoapi/logs
    depends_on:
      - fuseki
    networks:
      hascorepo:
        aliases:
          - hascoapi
    restart: always

volumes:
  hascoapi-fuseki-data:
    driver: local
    driver_opts:
      type: none
      device: /var/data/docker/volumes/hascoapi-fuseki-data
      o: bind

networks:
  hascorepo:
