fuseki/
fuseki-yasgui/
conf/application.conf
conf/hascoapi-docker.conf
conf/hascoapi.conf
logs
project/project
project/target
project/.bloop/
target
tmp
.history
dist
.classpath
.project
.settings
.target
.idea
.idea_modules
.DS_Store
/bin/
RUNNING_PID
.cache-main
.cache-tests
*.swp
*.iml
*.xlsx
*.csv
.bsp
.vscode
.bloop
