@(userName:String)

    @import helper._
    @import org.hascoapi.RepositoryInstance
    @import org.hascoapi.utils._
    @import org.hascoapi.console.views.html._
    @import org.hascoapi.console.controllers._
    @import play.api.Play

    @main("HASCOAPI","",userName) {

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 col-xs-0"></div>
                <div id="textTitle" class="col-md-8 col-xs-0">
                    <h3><font color="darkBlue">@RepositoryInstance.getInstance().getTitle()</font></h3>
                    <p>@RepositoryInstance.getInstance().getComment()</p>
                    <hr>
                </div>
                <div class="col-md-1 col-xs-0"></div>
            </div>

            @portalNonAdmin()

    }